PORT=8900
PORT_FE=8900
NEXT_PUBLIC_PORT_FE=8900
NEXT_PUBLIC_SITE_URL=https://totnghiep.vanhbe.io.vn
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/REPLACE_WITH_DEPLOYMENT_ID/exec
RSVP_DRY_RUN=false
